<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Scraper News</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/>"Home></a></li>
            <li><a href="/saved">Saved Article</a></li>
            <li><a class ="btn btn-danger scrape-new">SCRAPE NEW ARTICLE</a></li>
        </ul>
        </div>
        </nav>
        <div class="jumbotron text-center">
            <div class="overlay">
            </div>
            <div class="background-image">
            </div>
            <div class="caption">
                <h1>Scraper Sports News</h1>
                <p>ESPN Site</p>
            </div>
        </div>
        <div class="container-fluid article-container">
        </div>

        <footer class="footer">
            <div class="container">
                <p>ESPN MONGO Scraper</p>
            </div>
        </footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxdcn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>
